@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @model List<string>
    @foreach (var element in Model)
    {
        <p>MD5: @Html.DisplayFor(m => element)</p>

    }
    <br />
    @ViewBag.Message
    <br />
    <br />
    @ViewBag.Messaga
    <br />
    <br />
    @ViewBag.out_put
    <br />


    <br />
    @ViewBag.nazwa
    <br />
    <br />
    @ViewBag.rozszerzenia
    <br />
    <br />
    @ViewBag.rozmiary
    <br />
    <br />
    @ViewBag.datyOstatniegoDostepu
    <br />
    <br />
    @ViewBag.datyStworzeniaPliku
    <br />
    <br />
    @ViewBag.datyOstatniejModyfikacji
    <br />

    <br />
    @ViewBag.wersja
    <br />
    <br />
    @ViewBag.wersja2
    <br />
    <br />
    @ViewBag.wyniki
    <br />
    <br />
    @ViewBag.old
    <br />
    <br />

    @ViewBag.title
    <br />
    <br />
    @ViewBag.coos
    <br />

}
